body {
  margin: 0;
  padding: 0;
  background: #212F3C;
  overflow: hidden;
  text-align: center;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 58px -192.6666666667px #ffbb00, -92px -223.6666666667px #0088ff, 117px -263.6666666667px #6aff00, -19px -265.6666666667px #9100ff, 175px -381.6666666667px #3cff00, 40px 25.3333333333px #ffcc00, 142px -15.6666666667px #ff8000, 160px -382.6666666667px #00ffa2, 48px -63.6666666667px cyan, 92px -334.6666666667px #9d00ff, -225px -234.6666666667px #ff00a2, 230px -254.6666666667px #ffbb00, -124px -137.6666666667px #000dff, -163px -282.6666666667px #ff4000, 235px -173.6666666667px #00ff33, 221px -83.6666666667px #7300ff, 190px 52.3333333333px #ff7b00, -220px -276.6666666667px #ffcc00, -2px -249.6666666667px #00b3ff, 127px -349.6666666667px #ff009d, 149px 11.3333333333px #ff1500, -35px -44.6666666667px #ff0066, 149px -51.6666666667px #6f00ff, -3px -256.6666666667px #00ffbb, 64px -109.6666666667px #ffa200, 227px -368.6666666667px #6200ff, -112px -181.6666666667px #ff00dd, -234px 71.3333333333px #ffea00, -56px -69.6666666667px deepskyblue, -144px -388.6666666667px #44ff00, -11px -44.6666666667px #1a00ff, -203px -166.6666666667px #77ff00, 74px -131.6666666667px #ff006a, 170px -235.6666666667px #00ffa6, 181px -321.6666666667px #00ffd0, 184px 15.3333333333px #0d00ff, 93px 72.3333333333px #ff0033, 16px -173.6666666667px #ff005e, -65px -42.6666666667px #7b00ff, 130px -261.6666666667px #e6ff00, 168px -226.6666666667px #ff7700, -217px -237.6666666667px #00ff44, 44px -313.6666666667px #0033ff, -207px 7.3333333333px #0011ff, -52px 29.3333333333px #00ff15, 211px 76.3333333333px #9dff00, -45px 21.3333333333px #ff0084, -193px -237.6666666667px #d900ff, -60px 7.3333333333px #ff4000, -2px -23.6666666667px #00ff62, -78px -268.6666666667px #5500ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 58px -192.6666666667px #ffbb00, -92px -223.6666666667px #0088ff, 117px -263.6666666667px #6aff00, -19px -265.6666666667px #9100ff, 175px -381.6666666667px #3cff00, 40px 25.3333333333px #ffcc00, 142px -15.6666666667px #ff8000, 160px -382.6666666667px #00ffa2, 48px -63.6666666667px cyan, 92px -334.6666666667px #9d00ff, -225px -234.6666666667px #ff00a2, 230px -254.6666666667px #ffbb00, -124px -137.6666666667px #000dff, -163px -282.6666666667px #ff4000, 235px -173.6666666667px #00ff33, 221px -83.6666666667px #7300ff, 190px 52.3333333333px #ff7b00, -220px -276.6666666667px #ffcc00, -2px -249.6666666667px #00b3ff, 127px -349.6666666667px #ff009d, 149px 11.3333333333px #ff1500, -35px -44.6666666667px #ff0066, 149px -51.6666666667px #6f00ff, -3px -256.6666666667px #00ffbb, 64px -109.6666666667px #ffa200, 227px -368.6666666667px #6200ff, -112px -181.6666666667px #ff00dd, -234px 71.3333333333px #ffea00, -56px -69.6666666667px deepskyblue, -144px -388.6666666667px #44ff00, -11px -44.6666666667px #1a00ff, -203px -166.6666666667px #77ff00, 74px -131.6666666667px #ff006a, 170px -235.6666666667px #00ffa6, 181px -321.6666666667px #00ffd0, 184px 15.3333333333px #0d00ff, 93px 72.3333333333px #ff0033, 16px -173.6666666667px #ff005e, -65px -42.6666666667px #7b00ff, 130px -261.6666666667px #e6ff00, 168px -226.6666666667px #ff7700, -217px -237.6666666667px #00ff44, 44px -313.6666666667px #0033ff, -207px 7.3333333333px #0011ff, -52px 29.3333333333px #00ff15, 211px 76.3333333333px #9dff00, -45px 21.3333333333px #ff0084, -193px -237.6666666667px #d900ff, -60px 7.3333333333px #ff4000, -2px -23.6666666667px #00ff62, -78px -268.6666666667px #5500ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 58px -192.6666666667px #ffbb00, -92px -223.6666666667px #0088ff, 117px -263.6666666667px #6aff00, -19px -265.6666666667px #9100ff, 175px -381.6666666667px #3cff00, 40px 25.3333333333px #ffcc00, 142px -15.6666666667px #ff8000, 160px -382.6666666667px #00ffa2, 48px -63.6666666667px cyan, 92px -334.6666666667px #9d00ff, -225px -234.6666666667px #ff00a2, 230px -254.6666666667px #ffbb00, -124px -137.6666666667px #000dff, -163px -282.6666666667px #ff4000, 235px -173.6666666667px #00ff33, 221px -83.6666666667px #7300ff, 190px 52.3333333333px #ff7b00, -220px -276.6666666667px #ffcc00, -2px -249.6666666667px #00b3ff, 127px -349.6666666667px #ff009d, 149px 11.3333333333px #ff1500, -35px -44.6666666667px #ff0066, 149px -51.6666666667px #6f00ff, -3px -256.6666666667px #00ffbb, 64px -109.6666666667px #ffa200, 227px -368.6666666667px #6200ff, -112px -181.6666666667px #ff00dd, -234px 71.3333333333px #ffea00, -56px -69.6666666667px deepskyblue, -144px -388.6666666667px #44ff00, -11px -44.6666666667px #1a00ff, -203px -166.6666666667px #77ff00, 74px -131.6666666667px #ff006a, 170px -235.6666666667px #00ffa6, 181px -321.6666666667px #00ffd0, 184px 15.3333333333px #0d00ff, 93px 72.3333333333px #ff0033, 16px -173.6666666667px #ff005e, -65px -42.6666666667px #7b00ff, 130px -261.6666666667px #e6ff00, 168px -226.6666666667px #ff7700, -217px -237.6666666667px #00ff44, 44px -313.6666666667px #0033ff, -207px 7.3333333333px #0011ff, -52px 29.3333333333px #00ff15, 211px 76.3333333333px #9dff00, -45px 21.3333333333px #ff0084, -193px -237.6666666667px #d900ff, -60px 7.3333333333px #ff4000, -2px -23.6666666667px #00ff62, -78px -268.6666666667px #5500ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 58px -192.6666666667px #ffbb00, -92px -223.6666666667px #0088ff, 117px -263.6666666667px #6aff00, -19px -265.6666666667px #9100ff, 175px -381.6666666667px #3cff00, 40px 25.3333333333px #ffcc00, 142px -15.6666666667px #ff8000, 160px -382.6666666667px #00ffa2, 48px -63.6666666667px cyan, 92px -334.6666666667px #9d00ff, -225px -234.6666666667px #ff00a2, 230px -254.6666666667px #ffbb00, -124px -137.6666666667px #000dff, -163px -282.6666666667px #ff4000, 235px -173.6666666667px #00ff33, 221px -83.6666666667px #7300ff, 190px 52.3333333333px #ff7b00, -220px -276.6666666667px #ffcc00, -2px -249.6666666667px #00b3ff, 127px -349.6666666667px #ff009d, 149px 11.3333333333px #ff1500, -35px -44.6666666667px #ff0066, 149px -51.6666666667px #6f00ff, -3px -256.6666666667px #00ffbb, 64px -109.6666666667px #ffa200, 227px -368.6666666667px #6200ff, -112px -181.6666666667px #ff00dd, -234px 71.3333333333px #ffea00, -56px -69.6666666667px deepskyblue, -144px -388.6666666667px #44ff00, -11px -44.6666666667px #1a00ff, -203px -166.6666666667px #77ff00, 74px -131.6666666667px #ff006a, 170px -235.6666666667px #00ffa6, 181px -321.6666666667px #00ffd0, 184px 15.3333333333px #0d00ff, 93px 72.3333333333px #ff0033, 16px -173.6666666667px #ff005e, -65px -42.6666666667px #7b00ff, 130px -261.6666666667px #e6ff00, 168px -226.6666666667px #ff7700, -217px -237.6666666667px #00ff44, 44px -313.6666666667px #0033ff, -207px 7.3333333333px #0011ff, -52px 29.3333333333px #00ff15, 211px 76.3333333333px #9dff00, -45px 21.3333333333px #ff0084, -193px -237.6666666667px #d900ff, -60px 7.3333333333px #ff4000, -2px -23.6666666667px #00ff62, -78px -268.6666666667px #5500ff;
  }
}
@keyframes bang {
  to {
    box-shadow: 58px -192.6666666667px #ffbb00, -92px -223.6666666667px #0088ff, 117px -263.6666666667px #6aff00, -19px -265.6666666667px #9100ff, 175px -381.6666666667px #3cff00, 40px 25.3333333333px #ffcc00, 142px -15.6666666667px #ff8000, 160px -382.6666666667px #00ffa2, 48px -63.6666666667px cyan, 92px -334.6666666667px #9d00ff, -225px -234.6666666667px #ff00a2, 230px -254.6666666667px #ffbb00, -124px -137.6666666667px #000dff, -163px -282.6666666667px #ff4000, 235px -173.6666666667px #00ff33, 221px -83.6666666667px #7300ff, 190px 52.3333333333px #ff7b00, -220px -276.6666666667px #ffcc00, -2px -249.6666666667px #00b3ff, 127px -349.6666666667px #ff009d, 149px 11.3333333333px #ff1500, -35px -44.6666666667px #ff0066, 149px -51.6666666667px #6f00ff, -3px -256.6666666667px #00ffbb, 64px -109.6666666667px #ffa200, 227px -368.6666666667px #6200ff, -112px -181.6666666667px #ff00dd, -234px 71.3333333333px #ffea00, -56px -69.6666666667px deepskyblue, -144px -388.6666666667px #44ff00, -11px -44.6666666667px #1a00ff, -203px -166.6666666667px #77ff00, 74px -131.6666666667px #ff006a, 170px -235.6666666667px #00ffa6, 181px -321.6666666667px #00ffd0, 184px 15.3333333333px #0d00ff, 93px 72.3333333333px #ff0033, 16px -173.6666666667px #ff005e, -65px -42.6666666667px #7b00ff, 130px -261.6666666667px #e6ff00, 168px -226.6666666667px #ff7700, -217px -237.6666666667px #00ff44, 44px -313.6666666667px #0033ff, -207px 7.3333333333px #0011ff, -52px 29.3333333333px #00ff15, 211px 76.3333333333px #9dff00, -45px 21.3333333333px #ff0084, -193px -237.6666666667px #d900ff, -60px 7.3333333333px #ff4000, -2px -23.6666666667px #00ff62, -78px -268.6666666667px #5500ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
#simone {
  font-size: 70px;
  font-family: 'Homemade Apple';
  color: #E74C3C;
  bottom: -210px;
  position: relative;
  -webkit-animation: bounce 1s infinite;
}

#arianne {
  color: #FFF;
}

#biles {
  color: #104E8B;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}
#rio2016 {
  font-size: 35px;
  font-family: 'Shadows Into Light';
  color: #000;
  bottom: -200px;
  position: relative;
}

          @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
* {
  margin: 0;
  padding: 0; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: #4FDA8C; }

input {
  font: 16px/26px "Raleway", sans-serif; }



.form-wrap {
  background-color: #fff;
  width: 320px;
  margin: 15em auto;
  box-shadow: 0px 1px 8px #BEBEBE;
  -webkit-box-shadow: 0px 1px 8px #BEBEBE;
  -moz-box-shadow: 0px 1px 8px #BEBEBE; 
        }
  .form-wrap .tabs {
    overflow: hidden; }
    .form-wrap .tabs h3 {
      float: left;
      width: 50%; }
      .form-wrap .tabs h3 a {
        padding: 0.5em 0;
        text-align: center;
        font-weight: 400;
        background-color: #e6e7e8;
        display: block;
        color: #666; }
        .form-wrap .tabs h3 a.active {
          background-color: #fff; }
  .form-wrap .tabs-content {
    padding: 1.5em; }
    .form-wrap .tabs-content div[id$="tab-content"] {
      display: none; }
    .form-wrap .tabs-content .active {
      display: block !important; }
  .form-wrap form .input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
    display: inline-block;
    margin: 0 0 .8em 0;
    padding-right: 2em;
    width: 100%; }
  .form-wrap form .button {
    width: 100%;
    padding: .8em 0 10px .8em;
    background-color: #28A55F;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase; }
    .form-wrap form .button:hover {
      background-color: #4FDA8C; }
  .form-wrap form .checkbox {
    visibility: hidden;
    padding: 20px;
    margin: .5em 0 1.5em; }
    .form-wrap form .checkbox:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1; }
  .form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer; }
    .form-wrap form label[for]:before {
      content: '';
      position: absolute;
      border: 1px solid #CFCFCF;
      width: 17px;
      height: 17px;
      top: 0px;
      left: -14px; }
    .form-wrap form label[for]:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background-color: transparent;
      top: 4px;
      left: -10px;
      border: 3px solid #28A55F;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .form-wrap .help-text {
    margin-top: .6em; }
    .form-wrap .help-text p {
      text-align: center;
      font-size: 14px; }